@media (max-width:1050px){
    #mobile-filter-toggle{
        display: block;
    }
    .desktop-filter{
        display: none;
    }
    #product-filters-mobile{
        width: 100vw;
        height: 100vh;
    }

}
