@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.min.css'; 

/* Swiper Carousel Styles */

.swiper-pagination-bullet{
    width: 100px;
    border-radius: 0%;
}

.swiper-pagination-bullet-active{
    width: 120px ;
    transition: .1s ease-in-out;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .95rem;
}

.swiper-pagination:hover .swiper-pagination-bullet {
    height: .7rem;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination:hover{
    cursor: pointer;
}

/* rotate nav icon logic */
.rotate-arrow-false {
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out; 
}


.rotate-arrow-true {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
}

/* nav media queries */
.nav-ham{
    display: none;
}
@media (max-width:850px) {
    
    .nav-norm{
        display:none ;
    }
    .nav-ham{
        display: flex;
    }
    
}


